node_modules/
__pycache__/
*.pyc
*.spec
*.log
*.exe
*.dll
*.pak
*.dat
*.bin
Aoi-Tidal-win32-x64/
locales/
LICENSE
LICENSES.chromium.html
version
vk_swiftshader_icd.json
chrome_100_percent.pak
chrome_200_percent.pak
d3dcompiler_47.dll
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
resources.pak
snapshot_blob.bin
v8_context_snapshot.bin
vk_swiftshader.dll
vulkan-1.dll
